# OQ mbtk requirements
# From OQ wheels
#
#
https://wheelhouse.openquake.org/v3/linux/py312/pyproj-3.7.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/gdal-3.10.3-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/fiona-1.10.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/pyogrio-0.11.1-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/matplotlib-3.10.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/numba-0.61.2-cp312-cp312-manylinux2014_x86_64.manylinux_2_17_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/numpy-2.2.6-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/onnxruntime-1.21.1-cp312-cp312-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/shapely-2.1.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/llvmlite-0.44.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/contourpy-1.3.2-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/scipy-1.15.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/h5py-3.13.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/psutil-7.0.0-cp36-abi3-manylinux_2_12_x86_64.manylinux2010_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
#
https://wheelhouse.openquake.org/v3/linux/py312/cffi-1.17.1-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/h3-3.7.7-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/timezonefinder-6.5.2-cp312-cp312-manylinux_2_17_x86_64.manylinux_2_5_x86_64.manylinux1_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/charset_normalizer-3.4.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/kiwisolver-1.4.7-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/Pillow-10.1.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/pyzmq-26.2.0-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://wheelhouse.openquake.org/v3/linux/py312/setproctitle-1.3.3-cp312-cp312-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl
#pp
https://wheelhouse.openquake.org/v3/py/geopandas-1.1.1-py3-none-any.whl
#
# Version specific
ipykernel >= 4.8.0
ipython >= 6.2.0
jupyter_client >= 5.0.0
nbstripout >= 0.3.0
notebook >= 5.0.0
pylint >= 2.1.1
rtree >= 0.9.4
#
# Generic
openpyxl
xlrd
nbformat
geojson
nbconvert
obspy
prettytable
tqdm
tables
pygmt
reportlab
igraph
pyvista
