# Suggested versions for development based on
# Ubuntu 18.04 stack
# !! must update pip first! so wheels will be used !!

# GEM Mirror
http://cdn.ftp.openquake.org/wheelhouse/macos/py36/GDAL-2.2.4-cp36-cp36m-macosx_10_6_intel.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py36/pyproj-1.9.5.1-cp36-cp36m-macosx_10_6_intel.whl
http://cdn.ftp.openquake.org/wheelhouse/macos/py36/Rtree-0.8.3-cp36-cp36m-macosx_10_6_intel.whl
