#Openquake wheelhouse
https://wheelhouse.openquake.org/v3/windows/py310/GDAL-3.4.3-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/Fiona-1.8.21-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pandas-1.3.5-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pyzmq-23.2.1-cp310-cp310-win_amd64.whl
https://wheelhouse.openquake.org/v3/windows/py310/pyproj-3.4.0-cp310-cp310-win_amd64.whl

# OQ mbtk requirements

# Version specific
geopandas >= 0.6.3
ipykernel >= 4.8.0
ipython >= 6.2.0
matplotlib >= 3.4.2
nbstripout >= 0.3.0
notebook >= 5.0.0 
pylint >= 2.1.1
rtree >= 0.9.4
jupyter-server==2.6.0
xarray==2023.5.0
pandas <= 1.4.0
pyzmq <= 24

# Generic
toml 
nbformat
pyproj
geojson
nbconvert
obspy
prettytable
tqdm
tables
h3
pygmt
reportlab
