
# OQ mbtk requirements

# From OQ wheels
#
https://wheelhouse.openquake.org/v3/macos/py311/h3-3.7.7-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/pyproj-3.7.2-cp311-cp311-macosx_13_0_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/fiona-1.10.1-cp311-cp311-macosx_13_0_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/gdal-3.10.3-cp311-cp311-macosx_13_0_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/pyogrio-0.11.1-cp311-cp311-macosx_13_0_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/matplotlib-3.10.1-cp311-cp311-macosx_10_12_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/numba-0.61.2-cp311-cp311-macosx_10_14_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/numpy-2.2.6-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/shapely-2.1.0-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/onnxruntime-1.21.1-cp311-cp311-macosx_13_0_universal2.whl
https://wheelhouse.openquake.org/v3/macos/py311/llvmlite-0.44.0-cp311-cp311-macosx_10_14_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/contourpy-1.3.2-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/scipy-1.15.3-cp311-cp311-macosx_10_13_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/h5py-3.13.0-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/psutil-7.0.0-cp36-abi3-macosx_13_0_x86_64.whl
#
https://wheelhouse.openquake.org/v3/macos/py311/charset_normalizer-3.3.2-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/pyzmq-26.0.3-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/pandas-2.2.3-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/kiwisolver-1.4.5-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/setproctitle-1.3.3-cp311-cp311-macosx_10_9_x86_64.whl
https://wheelhouse.openquake.org/v3/macos/py311/Pillow-10.1.0-cp311-cp311-macosx_10_10_x86_64.whl
#pp
https://wheelhouse.openquake.org/v3/py/geopandas-1.1.1-py3-none-any.whl
#
# Version specific
ipykernel >= 4.8.0
ipython >= 6.2.0
jupyter_client >= 5.0.0
nbstripout >= 0.3.0
notebook >= 5.0.0
pylint >= 2.1.1
rtree >= 0.9.4
#
# Generic
openpyxl
xlrd
nbformat
geojson
nbconvert
obspy
prettytable
tqdm
tables
pygmt
reportlab
igraph
pyvista
